/D1/nbproject/private/
/D1/build/
/D2/nbproject/private/
/D2/build/
/D3/nbproject/private/
/D3/build/
/D4/nbproject/private/
/D4/build/
/D4/dist/
/D5/nbproject/private/
/D5/build/
/D5GUI/nbproject/private/
/D5GUI/build/
/D5GUI/dist/
/D6/nbproject/private/
/D6/build/
/Desas/nbproject/private/
/Desas/build/
/karatavas/nbproject/private/
/karatavas/build/
/karatavas/dist/